// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
// import '@mdi/font/css/materialdesignicons.css' // Ensure you are using css-loader

body{
  background: #fefefe;
}


*::-webkit-scrollbar {
  width: 6px; height: 6px;
  &:hover {
    width: 6px; height: 6px;
  }
}
*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
    background-color: #90cdee;
  }
  &:active {
    background-color: #0077be;
  }
}
*::-webkit-scrollbar-track { background-color: rgba(255, 255, 255, 0.9); border: 1px solid rgba(0, 0, 0, 0.1); }
*::-webkit-scrollbar-button { display: none; }



/** 多出部分 ... 显示 **/
.excess_word { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.flex_align_center { display: flex; align-items: center; }
.flex_align_end { display: flex; align-items: flex-end; }
.flex_align_start { display: flex; align-items: flex-start; }
.flex_justify_between { display: flex; justify-content: space-between; }
.flex_col_align_between { display: flex; align-items: center; flex-direction: column; justify-content: space-around; }
.flex_col_align_center { display: flex; align-items: center; flex-direction: column; }

.bbx_no_data_show { font-size: 12px; font-weight: bold; color: #ccc; text-align: center; margin-bottom: 5px; }
